nav{
    width: 100%;
    height: 80px;
    background-color: #2b2b2b; 
    color: white;
}
.box{
    padding-left: 80px;
    margin-top: 20px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.nav-con{
    color: white;
    margin-left: 50px;
}
.nav-con ul{
    list-style: none;
}
.nav-con li{
    margin-top: 16px;
    float: left;
    margin-right: 20px;  
    color: white;
} 
.contact-box{
    width: 600px;
    height: 850px;
    margin: 0 auto;
    margin-top: 100px;
    color: black;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 2px solid rgb(185, 185, 185);
} 
.header{
    width: 500;
    height: 300px;
    border-radius: 10px;
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.header h1{
    padding-top: 80px;
    margin-left: 90px;
    color: white;
}
.header h4{
    padding-top: 100px;
    margin-left: 90px;
    color: white;
}
form {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.input-el{
    width: 100%;
    height: 45px;
    background-color: rgb(185, 185, 185); 
    margin-top: 25px;
    padding-left: 15px;
    border: none;
    border-radius: 13px;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: #2b2b2b; 
    color: white;
    margin-top: 25px;
    padding-left: 15px;
    border: none;
    border-radius: 13px;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    color: white;
} 
footer p{
    padding-top: 30px;
    text-align: center;
}